project_key:   KEY
tracker_host:  https://jira.EXAMPLE.com/
ci_tool_host:  https://bamboo.EXAMPLE.com/
tracker_class: IssueTracker::Jira
verbose:       1

# uncomment and fill with correct data
#user:          ATLASSIAN_LOGIN # if not provided uses shell variable $USER
#pass:          ATLASSIAN_PASS  # if not provided asks for pass on request and saves session in cookie
