---
project_key:   JIR
tracker_host:  https://jira.example.com/
ci_tool_host:  https://bamboo.example.com/
tracker_class: IssueTracker::Jira::Custom
verbose:       0
branch_length: 60
slack_url: https://hooks.slack.com/services/foo/bar/baz
